<div class="list card">
    <div class="item item-body center">
        <div class="row">
            <span class="col col-75">
            <h1>{{totalTime | date:'m:ss'}}</h1>
            </span>
            <span class="col col-25">
            {{exerciseTime | date:'m:ss'}}
            </span>
        </div>
        <hr>
        <h1 id="exeName">{{curExe.exercName}}</h1>
        <h1 id="finishMessage">{{complete.header}}</h1>
        <div class="row time center">
            <div>
                {{curExe.exercDesc}}
            </div>
        </div>
        <!-- Add Pause Button-->
        <div class="center row" ng-show="!paused">
          <button class="button button-positive col col-100" ng-click="stop()">
          Pause <span class="icon ion-android-stopwatch"></span>
          </button>
        </div>

        <div class="center row" ng-hide="!paused">
          <button class="button button-positive col col-100" ng-click="start()">
          Continue <span class="icon ion-android-stopwatch"></span>
          </button>
        </div>
        <!-- Add Reset button-->
    </div>
</div>