<div class="list card">
    <div class="item item-body center">
        <div class="row">

            <span class="col col-75">
              <div id="totalTimer"></div>
              <h2 class="time">{{totalTime | date:'m:ss'}}</h2>
            </span>

            <span class="col col-25">
              <div id="workoutTimer"></div>
              <h2 class="time">{{exerciseTime | date:'m:ss'}}</h2>
            </span>
        </div>
        <hr>
        <!-- Add dynamic image here--> 
        <h1 id="finishMessage">{{complete.header}}</h1>

        <div class="row">
          <button class="button button-info col col-50" ng-click="showExerDesc()">View Description</button>
        </div>

        <!-- Pause/Continue Button-->
        <div class="center row" ng-show="!paused">
          <button class="button button-pause col col-100" ng-click="stop()">
          Pause <span class="icon ion-android-stopwatch"></span>
          </button>
        </div>

        <div class="center row" ng-hide="!paused">
          <button class="button button-continue col col-100" ng-click="start()">
          Continue <span class="icon ion-android-stopwatch"></span>
          </button>
        </div>
        <!-- END Pause/Continue Button-->

        <!-- Add Reset button-->
    </div>
</div>