<div class="list card">
    <div class="item item-body center">
        <h1 id="exeName">{{curExe.exercName}}</h1>
        <h1 id="finishMessage">{{complete.header}}</h1>
        <div class="row time center">
            <h1>{{totalTime | date:'m:ss'}}</h1>
        </div>
        <div class="row">
          {{exerciseTime | date:'m:ss'}}
        </div>
        <div class="exerc-img">
            <img src="/exercises/10AbbWorkout/imgs/sit-up-0.JPG">
        </div>
        <div>
          {{curExe.exercDesc}}
        </div>
    </div>
</div>