<ion-view view-title="GO!">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body center">
          <div class="row">

              <span class="col col-100">
                <div id="totalTimer"></div>
                <h2 class="time">{{totalTime | date:'m:ss'}}</h2>
              </span>

              <!--<span class="col col-25">
                <div id="workoutTimer"></div>
                <h2 class="time">{{exerciseTime | date:'m:ss'}}</h2>
              </span>-->
          </div>

          <div class="row">
            <button class="button button-info col col-50" ng-click="showExerDesc()">View Description</button>
            <button ng-show="!paused" class="button button-pause col col-50" ng-click="stop()">
            Pause <span class="icon ion-android-stopwatch"></span>          
            </button>
            <button ng-hide="!paused" class="button button-continue col col-50" ng-click="continue()">
            Continue <span class="icon ion-android-stopwatch"></span>
            </button>
          </div>
    
          <div class="row">
            <button class="button button-cancel col col-100" ng-click="kill()"><span ng-show="!finished">Cancel Circuit</span><span ng-hide="!finished">Exit</span></button>
          </div>
          <div class="row">
            <button ng-show="canceled == true" class="button button-restart col col-100" ng-click="start()">Reset/Start</button>
          </div>
      </div>
  </div>
  </ion-content>
</ion-view>