<ion-view view-title="Exercise info">
  <ion-content class="padding">

    <div class="list card">
      <!-- 
        Will be modular with `{{exerc.title}}`
      -->
      <div class="item item-divider"><h2>{{exerc.name}}</h2></div>
      <div class="item item-body">
        <span class="row author">by {{exerc.author}}</span>
        <hr>
        <div class="row">
          {{exerc.desc}}
        </div>
        <hr>
        <div class="row">
          <div class="col col-50">{{exerc.exercise.length}} total workouts</div>
          <div class="col col-50">Total time (m/s): {{totalTime() | date:'m:ss'}}</div>
        </div>
      </div>
    </div>

    <div class="list card" ng-repeat="ex in exerc.exercise">
      <div class="item item-divider">{{ex.exercName}}</div>
      <div class="item item-body">
        <div class="row">{{ex.exercDesc}}</div>
        <hr>
        <div class="row">Reference Link:</div>
        <a href="{{ex.exercRefLink}}" class="row">{{ex.exercRefLink}}</a>
        <hr>
        <div class="row">
          <div class="col col-50">
            Time: {{ex.exercTime | date:'m:ss'}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div ng-repeat="img in ex.exercImg">
            
          </div>
          <img src="{{img.exercImgRef}}" alt="{{img.exercImgRefName}}">
        </div>
      </div>
      </div>
    </div>

  </ion-content>
</ion-view>
