<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="list card">
      <!-- 
        Will be modular with `{{exerc.title}}`
      -->
      <div class="item item-divider">OVERALL TITLE</div>
      <div class="item item-body">
        Cred Pitchfork kitsch, jean shorts DIY deep v butcher Portland actually. Vinyl cardigan cliche twee farm-to-table, American Apparel meditation Pitchfork hoodie actually small batch. Skateboard wolf Carles viral lomo messenger bag food truck gastropub health goth cold-pressed. Pinterest chillwave blog American Apparel, Truffaut heirloom banjo. Hella cray artisan gastropub vegan, DIY chia master cleanse. Small batch YOLO retro Carles skateboard.
      </div>
    </div>

  </ion-content>
</ion-view>
