<ion-view view-title="Circuit Trainer!">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider"><h2>Circuit Trainer v. Alpha</h2></div>
      <div class="item item-body">
        Welcome to Ciruit Trainer v. Alpa. The purpose of this app is to provide a easy wasy to follow a ciruit workout. This is a Alpha version of the app.
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider"><h2>{{exerc.name}}</h2></div>
      <div class="item item-body">
       {{exerc.desc}}
       <div class="center row">
         <button class="button button-positive col col-100">
          Start! <span class="icon ion-android-stopwatch"></span>
        </button>
       </div>
      </div>
    </div>
  </ion-content>
</ion-view>
