/* Empty. Add your own CSS if you like */

/*Center Helper*/
.center {
  text-align: center;
  margin: 0px 0px auto; 
}
.link {
  display: block;
}
img {
  max-width: 100%;
  height: auto; 
}

/*Card display*/
.bar.bar-stable{
  background-color: #494949;
  color: #FFF;
  border-bottom: #59FF12 1px solid;
}
.bar.bar-stable .title {
  color: #FFF; 
}

ion-content{
  background-color: #161616;
}

.item-body {
  background-color: #494949;
  color: #FFF;
}

.item-body h1{
  color: #FFF;
}

/*Button*/
.button{
  margin-top: 5px;
}

.button-pause {
  border-color: #E8D101;
  background-color: transparent;
  color: #E8D101;
}

.button-continue {
  border-color: #05E88F;
  background-color: transparent;
  color: #05E88F;
}
.button-info {
  border-color: #4AB2FF;
  background-color: transparent;
  color: #4AB2FF;
}

.button-cancel {
  border-color: #FF0000;
  background-color: transparent;
  color: #FF0000;
  margin-left: 5px;
  margin-right: -5px;
}

/*Time information*/
.time{
  color: #FFF;
}

#totalTimer > svg {
    display: block;
    width: 100%;
}

#workoutTimer > svg {
    display: block;
    width: 100%;
}

.progressbar-text {
  position: absolute;
  margin: 0px;
  padding: 0px;
  font-size: 25px !important;
}

