// Empty. Add your own SCSS if you like 

//-----------------------------------------------------
//Variables
//-----------------------------------------------------
$bg-background-col: #494949;
$bg-color-col: #fff;
$bg-limeborder-col: #59ff12;
$bg-gray-col: #161616;
$pause: #e8d101;
$continue: #05e88f;
$info: #4ab2ff;
$restart: #21fa00;
$cancel: #ff0a0a;

//-----------------------------------------------------
//Style Elements
//-----------------------------------------------------

//Center Helper
.center {
  margin: 0 0 auto;
  text-align: center;
}

.link {
  display: block;
}

img {
  height: auto;
  max-width: 100%; 
}

//Card display
.bar.bar-stable { 
  background-color: $bg-background-col;
  border-bottom: $bg-limeborder-col 1px solid;
  color: $bg-color-col;

  &.title {
    color: $bg-color-col;  
  }
}

ion-content {
  background-color: $bg-gray-col;
}

.item-body {
  background-color: $bg-background-col;
  color: $bg-color-col;

  &h1 {
    color: $bg-color-col;
  }
}

//-----------------------------------------------------
//Buttons
//-----------------------------------------------------

//General Button Mixin
@mixin button-gen($color) {
  border-color: $color;
  background-color: transparent;
  color: $color;
  margin-left: 2px;
  margin-right: -2px;
}

.button {
  margin-top: 5px;
}

.button-pause { @include button-gen($pause);}

.button-continue {@include button-gen($continue);}

.button-info {@include button-gen($info);}

.button-restart {@include button-gen($restart);}

.button-cancel {@include button-gen($cancel);}

//-----------------------------------------------------
//Timer Styling
//-----------------------------------------------------
.time {
  color: $bg-color-col;
}

.total-timer > svg {
  display: block;
  height: 50%;
  width: 100%;
}

.workout-timer > svg {
  display: block;
  width: 100%;
}

.progressbar-text {
  font-size: 25px !important;
  margin: 0;
  padding: 0;
  position: absolute;
}
